version: '3'

services:
    functions:
        container_name: functions
        build: ./AzureFunctions/
        ports:
        - 80:80
    bank:
        container_name: bank
        build: ./Bank/
        ports:
        - 81:81
        volumes:
        - "./Bank/:/app:rw"
        # add this environment variable to see the console output after running "docker-compose logs -f"
        environment:
            - PYTHONUNBUFFERED=1
    borger:
        container_name: borger
        build: ./Borger/
        ports:
        - 82:82
        volumes:
        - "./Borger/:/app:rw"
        environment:
            - PYTHONUNBUFFERED=1
    nemid:
        container_name: nemid
        build: ./NemId/
        ports:
        - 83:83
        volumes:
        - "./NemId/:/app:rw"
        environment:
            - PYTHONUNBUFFERED=1
    auth:
        container_name: auth
        build: ./Auth/
        ports:
        - 84:84
        volumes:
        - "./Auth/:/app:rw"
        environment:
            - PYTHONUNBUFFERED=1
    skat:
        container_name: skat
        build: ./Skat/
        ports:
        - 85:85
        volumes:
        - "./Skat/:/app:rw"
        environment:
            - PYTHONUNBUFFERED=1